@import url(http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic);

body {
	font-family:"Fanwood Text", "Times New Roman", serif;
}

.project-thumb {
    cursor: pointer;
	color: #777;
}
.project-thumb:hover {
	color: #000;
}
.project-thumb h2 {
	font-size: 1.5em;
}
.project-thumb p {
	margin-bottom:1.5em;
	font-size:1em;
	line-height:1.5em
}

.header {
	border: none;
}
.header h3 {
	padding-bottom: 0;
}

.current-project p {
	margin: 1.5em 0;
	font-size:1em;
	line-height:1.5em
	
	padding: 1em 0;
	-moz-font-feature-settings:"liga=1, dlig=1";
	-ms-font-feature-settings:"liga", "dlig";
	-o-font-feature-settings:"liga", "dlig";
	-webkit-font-feature-settings:"liga", "dlig";
	font-feature-settings:"liga", "dlig";
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	hyphens:auto
}
.current-project img {
	width: 100%;
	margin: 2em 0;
}